@import "tailwindcss";

@theme {
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #f8fafc; /* Slate 50 for a nice soft background */
  color: var(--foreground);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
